@charset 'utf-8';
/* CSS Document */
p {
	color:black

}
p {
	width: 600px
	}
p {
	font-size: 16px
	}
p {
	line-height:18px
	}
p {
	background-color:white
	}
p {
	padding: 20px
	}

span {color: rgb( 255, 0 ,255) ;}
body {
	background-image: url('slike/4.jpg')
	}
	
	a {
		color:  black
		}
		a:link {
		background-color: olive
		}
	a:hover{
		background-color:  black
		}
	img {	/*centriranje*/
		margin-left: auto; 
			margin-right:auto;  
			width: 400px;
		}
		li {
			margin:20px
			}
			ol {
		width: 400px
		}
		ol {
		background-color: rgb(238, 232, 213)
		}
		ul  {
		background-color: rgb(253,246,227)
		}
		ul {
		width: 400px
		}
		
		h2 {
		color: white
		}
		
		h1 {
		color: white
		}
		ul {	padding:20px; /*centriranje*/
			margin-left: auto; 
			margin-right:auto;  
			width: 445px;
			} 
	li {	display:inline; 
			background-color:olive;
			padding:20px;
			border: 2px solid black
		}
	li:active {background-color:black;} /*kada kliknemo na li mijenja se boja*/
		
	li a {	color:white; 
			font-family: "Montserrat", sans-serif; 
			text-transform: uppercase;
			}
	li a:link {text-decoration:none;}
	li a:hover {text-decoration:underline;}